@charset "utf-8";


@media all and (min-width:768px){
	
}

@media all and (min-width:1100px){
	.main .contents:before{
		content:'Seoul Museum of Art';
		display:block;
	    position:relative;
	    font-size:25px;
	    padding:17px 12px 54px;
	}
}